.characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px; 
    background-color: #282c34; 
}

.character-card-link {
    text-decoration: none; 
    color: inherit; 
    width: 200px;
    transition: transform 0.3s; 
}


.character-card {
    border: 2px solid red; 
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.character-card::before {
    content: "MARVEL";
    font-family: 'Arial', sans-serif; 
    font-size: 40px;
    color: rgba(255, 0, 0, 0.2); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg); 
    z-index: -1; 
}

.character-card img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}


.character-card-link:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); 
}


.character-card h2 {
    margin: 10px 0;
    color: red; 
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.character-card p {
    font-size: 14px;
    color: #333;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.page-button-container {
    text-align: center;
    background-color: #282c34; 
    padding: 20px;
}

.page-button {
    padding: 10px 20px;
    border: 2px solid red; 
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    display: inline-block; 
    margin: 0 10px;
}

.page-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); 
    color: #282c34 ;
}

.page-button:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.search-bar {
    padding: 10px 20px;
    width: 80%; 
    margin: 20px auto;
    display: block;
    font-size: 16px;
    border: 2px solid red; 
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: box-shadow 0.3s, transform 0.3s;
}

.search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .search-bar {
        width: 95%;
        margin: 15px auto;
    }

    .character-card-link {
        width: 150px;
    }

    .character-card {
        height: 300px;
    }

    .character-card img {
        height: 180px;
    }

    .character-card h2 {
        font-size: 16px;
        height: 35px;
    }

    .page-button {
        padding: 8px 15px;
        font-size: 14px;
        margin: 0 5px;
    }

    .characters-container {
        gap: 10px;
        padding-top: 15px;
    }
}
