.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.character-container img {
  max-width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}

.character-container h2, .character-container h3 {
  color: white;
  margin: 10px 0;
  font-size: 24px;
}

.character-container p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  max-width: 600px;
  text-align: center;
}

.comics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.comic-card {
  border: 2px solid gold; 
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #232323;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  margin-bottom: 15px;
  width: 200px;
  overflow: hidden;
  height: 350px;
}

.comic-card::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(45deg, rgba(0, 255, 170, 0.3), transparent);
  transform: skewX(-45deg);
  transform-origin: bottom left;
  transition: all 1s;
}

.comic-card h2 {
  color: white;
  transition: all 1s;
  border-top: none;
  box-shadow: none;
}

.comic-card:hover h2 {
  border-top: 3px solid #00FFAA;
  box-shadow: 0 -10px 20px rgba(0, 255, 170, 0.4);
  background: rgba(0, 255, 170, 0.6);
  transform: translateY(-10px);
  box-shadow: 0 -15px 25px #00FFAA;
}

.comic-card img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  filter: grayscale(50%);

}

.comic-card:hover img {
  filter: grayscale(0%) brightness(110%) contrast(150%);
}

.comic-card p {
  margin: 10px 0;
  color: white; 
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  color: #282c34;
  background-position: left;
  background: linear-gradient(45deg, #3a3a3a 25%, #4d4d4d 50%, #3a3a3a 75%);
  background-size: 200% 100%;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.fav-button {
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
}

.fav-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  color: #282c34;
}

@media (max-width: 768px) {
  .character-container img {
    max-width: 90%;
    height: auto;
  }

  .character-container h2, .character-container h3 {
    font-size: 20px;
  }

  .character-container p {
    font-size: 14px;
  }
  .comic-card {
    width: 150px;
    display: flex;
    align-items: center;
  }
  .comic-card img {
    height: 200px; 
  }
  .comic-card p {
    width: 100px;
  }

  .fav-button {
    padding: 8px 15px;
    font-size: 14px;
    margin: 10px auto;
  }
}

@media (max-width: 480px) {
  .character-container img {
    max-width: 70%;
    height: auto;
  }

  .character-container h2, .character-container h3 {
    font-size: 18px;
    margin: 10px auto;
  }

  .character-container p {
    font-size: 12px;
  }

  .comic-card img {
    height: 200px; 
  }

  .fav-button {
    padding: 6px 12px;
    font-size: 12px;
    margin: 8px auto;
  }
}
