
div .comics-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 30px; 
}


.comics-card-link {
    text-decoration: none; 
    color: inherit; 
    width: 200px;
    transition: transform 0.3s; 
}


.comics-card {
    border: 2px solid gold; 
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: #232323;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.comics-card::before {
    font-size: 40px;
    color: rgba(255, 0, 0, 0.2); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg); 
    z-index: -1; 
}


.comics-card img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}


.comics-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    color: #282c34;
    background-position: left;
    transform: scale(1.05); 
    background: linear-gradient(45deg, #3a3a3a 25%, #4d4d4d 50%, #3a3a3a 75%);
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
}
@keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }


.comics-card h3 {
    margin: 10px 0;
    color: white; 
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comics-card p {
    font-size: 14px;
    color: #333;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.search-bar {
    padding: 10px 20px;
    width: 80%; 
    margin: 20px auto;
    display: block;
    font-size: 16px;
    border: 2px solid red; 
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: box-shadow 0.3s, transform 0.3s;
}

.search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .search-bar {
        width: 80%;
        margin: 15px auto;
    }

    .comics-card-link {
        width: 150px;
    }

    .comics-card {
        height: 250px;
    }

    .comics-card img {
        height: 180px;
    }

    .comics-card h3 {
        font-size: 16px;
        height: 35px;
    }

    .page-button {
        padding: 8px 15px;
        font-size: 14px;
        margin: 0 5px;
    }

    .comics-container {
        gap: 10px;
        padding-top: 15px;
    }
}
