.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #e62429;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #e62429;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ba1d22;
  }
  
  p {
    margin: 15px;
    text-align: center;
  }
  
  span {
    color: #e62429;
    cursor: pointer;
  }
  .error-message {
    color: #ff0f17;
  }
@media (max-width: 768px) {
  .modal-content {
    width: 350px; 
    padding: 15px;
  }

  input, button {
    padding: 8px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 300px; 
  }

  input, button {
    padding: 6px;
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

